body {
    font-family: Ubuntu, 'Microsoft JHengHei UI', 'Microsoft YaHei UI';
}

/* 为啥全屏也会出现边框 orz
#player {
    border: 1px solid #aaa;
}
*/

.current::before {
    content: '当前: ';
}

.btn {
    display: inline-block;
    color: #666;
    border-radius: 4px;
    border: 1px solid #d8d8d8;
    padding: 3px 7px 3px 7px;
    background: #fff;
    line-height: 17px;
    min-width: 5em;
    text-decoration: none;
    text-align: center;
    margin: 3px;
    transition: color .3s, background-color 1s, border-color .2s;
}

.btn:hover, .btn.current {
    background: #00a1d6;
    border-color: #00a1d6;
    color: #fff;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.desc {
    font-size: 75%;
    color: #555;
    margin: 0;
    font-weight: bold;
}

input.control {
    /*display: block;*/
    height: 34px;
    padding: 0 .5em;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
input.control:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
input.control::-moz-placeholder {
    color: #999;
    opacity: 1;
}
input.control:-ms-input-placeholder {
    color: #999;
}
input.control::-webkit-input-placeholder {
    color: #999;
}

input.control[disabled],
input.control[readonly],
fieldset[disabled] input.control {
    background-color: #eee;
    opacity: 1;
}

input.control[disabled],
fieldset[disabled] input.control {
    cursor: not-allowed;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}